.head {
  background-color: #222;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.navbar {
  background-color: #444;
  padding: 10px;
  text-align: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  font-weight: 500;
}
.navbar a:hover {
  color: #00ffcc;
}
